.top-panel {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.bottom-panel {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.modern-btn {
  padding: 12px 32px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
}


.run-btn {
  background-color: deepskyblue;
  color: white;
}

.run-btn:hover {
  background-color: blue;
  box-shadow: 0 8px 15px blueviolet;
  transform: translateY(-3px); 
}

.run-btn:active {
  transform: translateY(0); 
}

.save-btn {
  background-color: green;
  color: white;
}

.save-btn:hover {
  background-color: darkgreen;
  box-shadow: 0 8px 15px greenyellow;
  transform: translateY(-3px);
}

.save-btn:active {
  transform: translateY(0);
}